<!doctype html>
<html>
  <head><meta charset="UTF-8" /><link rel='stylesheet' href='../style/default.css' type='text/css' /></head>
  <body>
    <% if @chapter.sections -%>
      <h2 class="section-title"><%= h(@chapter.sections * ", ") %></h2>
    <% end -%>
    <h3 class="entry-title"><%= h(@chapter.title) %></h3>
    <% if @chapter.title_extras -%>
      <strong class="entry-subtitle"><%= h(@chapter.title_extras) %></strong><br />
    <% end -%>
    <% if @show_authors and @chapter.moieties and not @chapter.moieties.empty? -%>
      <strong class="entry-authors">Authors: <%= h(@chapter.moieties * ", ") %></strong>
    <% end -%>
    <% @message_htmls.each_with_index do |message_html, i| -%>
      <% parent = @messages[i].parent -%>
      <% if parent and parent.children and parent.children.length > 1 -%>
        <% child_index = parent.children.index(@messages[i]) -%>
        <% if child_index == 0 -%>
          <div class="branchnote branchnote1">This is a branching point! Branch 1:</div>
        <% elsif child_index and child_index > 0 -%>
          <div class="branchnote branchnote<%= child_index + 1 %>">The previous branch has ended. Branch <%= child_index + 1 %>:</div>
        <% end %>
      <% end %>
      <%= message_html %>
    <% end -%>
  </body>
</html>