<!doctype html>
<html>
  <head><meta charset="UTF-8" /><link rel='stylesheet' href='../style/default.css' type='text/css' /></head>
  <body>
    <% if @chapter.sections -%>
      <h2 class="section-title"><%= h(@chapter.sections * ", ") %></h2>
    <% end -%>
    <h3 class="entry-title"><%= h(@chapter.title) %></h3>
    <% if @chapter.title_extras -%>
      <strong class="entry-subtitle"><%= h(@chapter.title_extras) %></strong><br />
    <% end -%>
    <% if @chapter.moieties and not @chapter.moieties.empty? -%>
      <strong class="entry-authors">Authors: <%= h(@chapter.moieties * ", ") %></strong>
    <% end -%>
    <% @message_htmls.each do |message_html| -%>
      <%= message_html %>
    <% end -%>
    <%# todo: add branches -%>
  </body>
</html>